!!! 5
%html
  %head
    %title Test - Presentain
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}

  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a{ class: "btn btn-navbar", :"data-toggle" => "collapse", :"data-target" => ".nav-collapse" }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Test Presentain', root_path, class: :brand   
          
          %div.nav-collapse
            %ul.nav
              %li= link_to "Products", products_path
              

    %div.container
      %div.row
        %div.span9
          = yield
 